{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container" style="margin-bottom: 200px;">
      <h1>About the Collection of Rad People</h1>
        <div class="row">
          <div class="col-lg-3">
            <h3>Mike Diguiseppi</h3>
            <ul>
              <li>Role: Checkout Form Master</li>
              <li>Hobby: Autocross</li>
              <li><a href="https://github.com/michaeldiguiseppi">GitHub Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h3>Andy Gross</h3>
            <ul>
              <li>Role: Homepage Cobra Commander</li>
              <li>Hobby: Harmonica magic</li>
              <li><a href="https://github.com/andogro">GitHub Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h3>Kevin Njeru</h3>
            <ul>
              <li>Role: Product Admiral</li>
              <li>Hobby: Rock climbing</li>
              <li><a href="https://github.com/knjeru">GitHub Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <h3>Valerie Kraucunas</h3>
            <ul>
              <li>Role: Codebase Protector</li>
              <li>Hobby: Photography</li>
              <li><a href="https://github.com/vkraucunas">GitHub Profile</a></li>
            </ul>
          </div>
        </div>
    </div>

{% endblock %}